@using EatNow.DAL
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Reserva

@* <p>Nombre Reserva: @Html.Raw(ObtenerNombreCliente())</p> *@
<p>Nombre Reserva: @Model.NombreCliente @Model.ApellidoCliente</p>
<p>@Model.RIdCliente</p>
<p>@Model.RIdCasilla</p>
<p>Fecha Reserva: @Model.Inicio.Date</p>
<p>Hora Reserva: @Model.Inicio.TimeOfDay</p>
<p>Hora Maxima para assistir: @Model.Inicio.AddMinutes(30).TimeOfDay</p>

@* <div id="cont-menu">
    <div id="menu">
        @foreach (Plato plato in ViewBag.Platos)
        {
            <label class="plato"><img src="@plato.URLImagen"></label>
        }
    </div>
</div> *@

<form asp-area="" asp-controller="restaurante" asp-action="CrearReserva" method="post" asp-antiforgery="true">
    <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" value="@Model.NombreCliente" style="display: none">
    <input type="text" class="form-control" name="ApellidoCliente" id="ApellidoCliente" value="@Model.ApellidoCliente" style="display: none">
    <input type="number" class="form-control" name="RIdCliente" id="RIdCliente" value="@Model.RIdCliente" style="display: none">
    <input type="number" class="form-control" name="RIdCasilla" id="RIdCasilla" value="@Model.RIdCasilla" style="display: none">
    <input type="datetime" class="form-control" name="Inicio" id="Inicio" value="@Model.Inicio" style="display: none">
    <input type="datetime" class="form-control" name="Fin" id="Fin" value="@Model.Fin" style="display: none">
    <button type="submit" class="btn submit">Confirmar Reserva</button>
</form>

@functions {
    public string ObtenerNombreCliente()
    {
        var clienteDAL = new ClienteDAL(Conexion.CadenaBBDD);
        Cliente cliente = clienteDAL.GetClientById(Model.RIdCliente);

        return cliente.Nombre;
    }
}