@{
    ViewData["Title"] = "Informacion Restaurante Restaurante";
}
@model Restaurante

<link rel="stylesheet" type="text/css" href="~/css/infoRestaurante.css">

<div id="main-container">
    <div id="info">
        <div id="portada">
            <h1>@Model.Nombre</h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
                <div class="carousel-inner">
                    @foreach (Imagen image in ViewBag.Images)
                    {
                        <div class="carousel-item active">
                            <img src="@image.URL" class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div id="cont-info">
            <div class="horario">
                @for(int i = int.Parse(Model.HoraApertura.Substring(0 ,2)); i <= int.Parse(Model.HoraCierre.Substring(0, 2)); i++)
                {
                    if (i <= DateTime.Now.Hour) { <button class="past">@i:00</button> }
                    else { <button class="clean">@i:00</button> }
                }
                <button class="mid">12:00</button>
                <button class="full">13:00</button>
            </div>
            <div class="block">
                <p>@Model.Direccion</p>
                <p>(@Model.Telefono) <a href="@Model.Web">@Model.Web</a></p>
                <p class="desc">@Model.Descripcion</p>
            </div>
        </div>
    </div>
    <div id="cont-menu">
        <div id="menu">
            @foreach(Plato plato in ViewBag.Platos)
            {
                <label class="plato"><img src="@plato.URLImagen"></label>
            }
        </div>
        
            <div id="reserva">
                @if (ViewBag.IdCliente != null)
                {
                <form style="display: flex;" asp-area="" asp-controller="restaurante" asp-action="mapaRestaurante">
                    <button style="margin: 0 auto;" class="btn submit" type="submit">RESERVA YA!</button>
                </form>
                }
                else
                {
                <form style="display: flex;" asp-area="" asp-controller="home" asp-action="login">
                    <button style="margin: 0 auto;" class="btn submit" type="submit">Inicia Sesion Para Reservar</button>
                </form>
                }
            </div>
        
    </div>
</div>