@model List<Reserva>

<link rel="stylesheet" type="text/css" href="~/css/mainPage.css">

<div class="container">
    @foreach (Reserva reserva in Model)
    {
        <div class="reserva m-2">
            <div class="cont-img">
                <img src="../img/waitress-serving-customer-at-the-coffee-shop-photo.jpg">
            </div>
            <div class="cont-info">
                <div class="info">
                    <h2>@reserva.NombreRestaurante</h2>
                    <p>Inicio: @reserva.Inicio</p>
                    <p>Fin: @reserva.Fin</p>
                    <p>Mesa: @reserva.NumeroMesa</p>
                    <p>Nombre: @reserva.NombreCliente, @reserva.ApellidoCliente</p>
                    <p>Estado: @reserva.EstadoReservaNombre</p>
                </div>
            </div>
        </div>
    }
</div>



