@using EatNow.DAL
@model List<Reserva>
<link rel="stylesheet" type="text/css" href="~/css/mainPage.css">
<style>
    table {
        width: 70%;
    }

    .Hora {
        font-weight: 700;
        font-size: 40px;
    }

    .Mesa {
        font-weight: 500;
        font-size: 30px;
    }
</style>
<div class="container">
    @foreach (Reserva reserva in Model)
    {
        <div class="reserva m-5">
            <div style="display: flex;">
                <table>
                    <tr>
                        <td rowspan="4" width="150px"><img src="@Html.Raw(ObtenerImagenCliente(reserva.RIdCliente))" width="150px"></td>
                        <td class="Hora">@reserva.Inicio.TimeOfDay</td>
                        <td class="Mesa">Mesa: @reserva.NumeroMesa</td>
                    </tr>
                    <tr>
                        <td colspan="2">Nombre: Mario Leon Carrizo</td>
                        <td>Hora Reserva: @reserva.Inicio.TimeOfDay</td>
                    </tr>
                    <tr>
                        <td colspan="2">Telf.: @Html.Raw(ObtenerTelfCliente(reserva.RIdCliente))</td>
                        <td>Hora Maxima Asistencia: @reserva.Inicio.AddMinutes(30).TimeOfDay</td>
                    </tr>
                    <tr>
                        <td>Fecha: @reserva.Inicio.Date.ToString().Split(" ")[0]</td>
                    </tr>
                </table>
                <form style="display: flex;width: 30%;align-items: flex-end;justify-content: space-between;flex-direction: column;">
                    <div>
                        <button type="button" class="btn success" style="width: 200px; height: 50px;">@reserva.EstadoReservaNombre</button>
                    </div>
                    <div>
                        <button type="submit" class="btn danger" style="width: 100px; height: 50px;">Cancelar</button>
                    </div>
                </form>
            </div>
            <div></div>
        </div>
    }
</div>

@functions {
    public string ObtenerImagenCliente(int IdCliente)
    {
        var clienteDAL = new ClienteDAL(Conexion.CadenaBBDD);
        Cliente cliente = clienteDAL.GetClientById(IdCliente);

        return cliente.URLFoto;
    }

    public string ObtenerTelfCliente(int IdCliente)
    {
        var clienteDAL = new ClienteDAL(Conexion.CadenaBBDD);
        Cliente cliente = clienteDAL.GetClientById(IdCliente);

        return cliente.Telefono;
    }
}