@{
    ViewData["Title"] = "Home Page";
}
@model List<Restaurante>


<link rel="stylesheet" type="text/css" href="~/css/mainPage.css">


<div style="display: flex;">
    <div class="options">
        <div class="filter-container container">
            <form asp-action="Index" asp-controller="home" method="post" asp-antiforgery="true">
                <h2>Filtrar Restaurantes</h2>
                <div class="filter">
                    <label class="time">
                        <input type="time" name="time">
                    </label>
                    <label class="time" style="margin-right: -2px;">
                        <input type="date" name="date">
                    </label>
                    <label class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Direccion" name="direccion" />
                    </label>
                    <label class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Nombre Restaurante" name="nombre" />
                    </label>
                </div>
                <button class="btn info" type="submit">Buscar</button>
            </form>
        </div>
        @if (ViewBag.IdCliente != null)
        {
            <div class="filter-container container">
                <h2>Ultimas Reservas</h2>
                <div class="last-reservas">
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                    <div class="reserva"><button class="btn">Nombre Restaurante</button></div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        @foreach (Restaurante restaurante in Model)
        {
            <form asp-action="Index" asp-controller="restaurante" method="post" asp-antiforgery="true">
                <div class="restaurante">
                    <div class="cont-img">
                        <img src="@(restaurante.URLImagen != null ? restaurante.URLImagen : null)">
                    </div>
                    <div class="cont-info">
                        <div class="info">
                            <h2>@restaurante.Nombre</h2>
                            <p>@restaurante.Direccion</p>
                            <p>(@restaurante.Telefono) <a href="www.google.com">@restaurante.Web</a></p>
                            <p class="desc">@restaurante.Descripcion</p>
                            <div class="horario">
                                <label>@restaurante.HoraApertura</label>
                                <label>@restaurante.HoraCierre</label>
                                <input type="number" name="IdRestaurante" style="visibility: hidden;" value="@restaurante.IdRestaurante">
                            </div>
                        </div>
                        <div class="reservar">
                            <button class="btn submit" type="submit">Reservar</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

<script src="~/js/mainPage.js" asp-append-version="true"></script>