@model List<Reserva>

<link rel="stylesheet" type="text/css" href="~/css/mainPage.css">


<div class="container">
    <div class="d-flex mt-2">
        <h2 style="display: flex; margin: 0 auto;">Tus Reservas</h2>
    </div>

    @foreach (Reserva reserva in Model)
    {
        <div class="reserva m-5">
            <div class="cont-info">
                <div class="info">
                    <h4>@reserva.NombreRestaurante</h4>
                    <p>Inicio: @reserva.Inicio</p>
                    <p>Fin: @reserva.Fin</p>
                    <p>Mesa: @reserva.NumeroMesa</p>
                    <p>Estado: @reserva.EstadoReservaNombre</p>
                </div>
            </div>
        </div>
    }
</div>